:root{
  --cor-0: #FFFFFF;
  --cor-1: #F7F7F7;
  --cor-2: #EDEDED;
  --cor-3: #DEDEDE;
  --cor-4: #CCCCCC;
  --cor-5: #B2B2B2;
  --cor-6: #9C9C9C;
  --cor-7: #717171; 
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #2E2E2E;
  --cor-11: #111111;
  --cor-12: #000000;
  --p-1: #FFBB00;
  --p-2: #E4A30B;
  --p-3: #A66F00;
  --p-4: #664400;
  --p-5: #332200;
}
.cor-0{
  color: var(--cor-0);
}
.cor-4{
  color: var(--cor-4);
}
.cor-5{
  color: var(--cor-5);
}
.cor-6{
  color: var(--cor-6);
}
.cor-7{
  color: var(--cor-7);
}
.cor-8{
  color: var(--cor-8);
}
.cor-9{
  color: var(--cor-8);
}
.cor-10{
  color: var(--cor-10);
}
.cor-11{
  color: var(--cor-11);
}
.p-1{
  color: var(--p-1);
}
.p-2{
  color: var(--p-2);
}
.p-4{
  color: var(--p-4);
}
.p-5{
  color: var(--p-5);
}




